# Puerto del servidor
PORT=4000

# URL de conexión a MongoDB Atlas
MONGO_URI=mongodb+srv://usuario:contraseña@cluster.mongodb.net/parqueaderos?retryWrites=true&w=majority

# Clave secreta para JWT (autenticación)
JWT_SECRET=clave_super_secreta_para_token
